* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.nav-list {
  display: flex;
  list-style: none;
  gap: 30px;
}
.connection-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: orange;
  outline: none;
}
.first-aside {
  margin-left: 100px;
}
h2 {
  font-size: 80px;
  margin-top: 100px;
  /* margin-left: 50px; */
}
.paragragh {
  margin-top: 30px;
  font-size: 24px;
  /* margin-left: 50px; */
}
.btn-flex {
  display: flex;
  /* margin-left: 50px; */
}
.btn-flex input,
.btn-flex button {
  padding: 0 10px;
  background-color: transparent;
  color: white;
  height: 50px;
  border: 2px solid orange;
  margin-top: 20px;
}
.btn-flex input {
  border-left: none;
}
.launch-edit {
  /* margin-left: 50px; */
  margin-top: 30px;
  padding: 20px 70px;
  background-color: black;
  color: white;
  border: none;
  border: 2px solid orange;
}
/* .button-edit {
  margin-top: 30px;
  margin-left: 50px;
  padding: 20px 40px;
  background-color: black;
  color: white;
  border: none;
  border: 2px solid orange;
}
.trade-edit {
  padding: 20px 40px;
  background-color: black;
  color: white;
  border: none;
  border: 2px solid orange;
  margin-left: -5px;
} */
.section-1 {
  display: flex;
}
.section-1 div {
  width: 50%;
}
.section-1 img {
  width: 100%;
  margin-top: 100px;
  /* margin-right: 30px; */
}
.bit-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 50px;
}
.flex-section {
  border: 2px solid orange;
  padding: 40px 20px;
  transition: 0.5s ease;
  height: 400px;
}
.flex-section:hover {
  transform: translateY(-20px);
}
.flex-section h3 {
  font-size: 40px;
  margin-bottom: 30px;
  color: orange;
}
.flex-section p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: center;
}
.content-img {
  width: 100%;
}
aside {
  text-align: center;
}
aside h1 {
  font-size: 60px;
  margin-top: 100px;
}
aside p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  padding: 50px;
}
aside img {
  margin-top: 50px;
  padding: 20px;
}
figure h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  padding: 30px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  gap: 20px;
}
.grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 2px solid orange;
  align-items: center;
  background-color: rgb(73, 74, 76);
}
.grid img {
  width: 150px;
}
.grid-button {
  padding: 10px 80px;
  background-color: black;
  color: white;
  border: 2px solid orange;
}
.footer-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  align-items: center;
  margin-bottom: 100px;
}
.footer-section div ul {
  display: block;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav-list {
    display: none;
  }
  .section-1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .bit-section {
    display: flex;
    flex-direction: column;
  }
  .first-aside {
    margin-left: 0;
  }
  .grid-container {
    grid-template-columns: 1fr;
    margin: 0 20px;
  }
}
